# Rasa specific
models/
*.tar.gz
*.db
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Logs
*.log
